@keyframes animateStroke {
  0% {
    stroke-dashoffset: 600;
  }
  50% {
    stroke-dashoffset: 600;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fallingDown {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
