@use "../../styles/vars";
@use "../../styles/colors";

.socials {
  position: fixed;
  right: vars.$socials-position-right;
  top: vars.$socials-position-top;
  z-index: 1;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__social {
    background: transparent;
  }

  &:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 1px;
    background: colors.$mx-dark-gray;
    top: -170px;
    left: 50%;
    opacity: 0.7;
    -webkit-box-reflect: below 210px;
  }
}
