@use "../../styles/vars";

.socials {
  position: fixed;
  right: vars.$socials-position-right;
  top: vars.$socials-position-top;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__social {
    background: transparent;
  }
}
